<div class="card card-atomictoaster is-hidden">

  <div class="card-header">
    <p class="mb-0"><strong>Atomic Toasters</strong></p>
    <p class="small muted">Prod <span readout="atomictoaster-stat-toast">0</span> toast every <span readout="atomictoaster-stat-speed">0</span>s</p>
  </div>

  <div class="card-meter">
    <div class="card-meter-progress"></div>
  </div>

  <div class="card-body">
    <p class="mb-2">Count: <span readout="atomictoaster-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="atomictoaster-level-increase1">+1</button>
      <button class="button button-line button-small" control="atomictoaster-level-increase10">+10</button>
      <button class="button button-line button-small" control="atomictoaster-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="atomictoaster-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Speed: <span readout="atomictoasterspeed-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="atomictoasterspeed-level-increase1">+1</button>
    </div>
    <p class="small muted">+1 cost <strong readout="atomictoasterspeed-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

</div>
