<div class="card is-hidden" stage="autotoaster" tabindex="1">

  <div class="card-header">
    <p class="mb-0"><strong>Auto Toasters</strong></p>
    <p class="small muted">Prod <span readout="autotoaster-stat-toast">0</span> toast every <span readout="autotoasterspeed-interval-current">0</span>s</p>
  </div>

  <div class="card-meter">
    <div class="card-meter-progress"></div>
  </div>

  <div class="card-body">
    <p class="mb-2">Count: <span readout="autotoaster-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="autotoaster-level-increase1" tabindex="1">+1</button>
      <button class="button button-line button-small" control="autotoaster-level-increase10" tabindex="1">+10</button>
      <button class="button button-line button-small" control="autotoaster-level-increase100" tabindex="1">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="autotoaster-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Speed: <span readout="autotoasterspeed-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="autotoasterspeed-level-increase1" tabindex="1">+1</button>
    </div>
    <p class="small muted">+1 cost <strong readout="autotoasterspeed-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

</div>
