<div class="card">

  <div class="card-header">
    <p><strong>Auto Toasters</strong></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Count: <span readout="autotoaster-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="autotoaster-level-increase1">+1</button>
      <button class="button button-line button-small" control="autotoaster-level-increase10">+10</button>
      <button class="button button-line button-small" control="autotoaster-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="autotoaster-cost-toast"></strong> <abbr title="Toast matter">TM</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Speed: <span readout="autotoaster-speed-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="autotoaster-speed-level-increase5">+5% Faster</button>
    </div>
    <p class="small muted">+5% cost <strong readout="autotoaster-speed-cost-toast"></strong> <abbr title="Toast matter">TM</abbr></p>
  </div>

</div>
