<div class="card card-megatoaster">

  <div class="card-header">
    <p><strong>Mega Toasters</strong></p>
  </div>

  <div class="card-meter">
    <div class="card-meter-progress"></div>
  </div>

  <div class="card-body">
    <p class="mb-2">Count: <span readout="megatoaster-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="megatoaster-level-increase1">+1</button>
      <button class="button button-line button-small" control="megatoaster-level-increase10">+10</button>
      <button class="button button-line button-small" control="megatoaster-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="megatoaster-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Speed: <span readout="megatoaster-speed-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="megatoaster-speed-level-increase1">+1</button>
    </div>
    <p class="small muted">+1 cost <strong readout="megatoaster-speed-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Efficiency: <span readout="megatoaster-efficiency-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="megatoaster-efficiency-level-increase1">+1</button>
      <button class="button button-line button-small" control="megatoaster-efficiency-level-increase10">+10</button>
      <button class="button button-line button-small" control="megatoaster-efficiency-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="megatoaster-efficiency-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

</div>
