<div class="card card-processor" stage="cycle">

  <div class="card-header">
    <p><strong>Processor</strong></p>
  </div>

  <div class="card-body" stage="processor">
    <p class="mb-2">Power: <span readout="processor-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="processor-level-increase1">+1</button>
      <button class="button button-line button-small" control="processor-level-increase10">+10</button>
      <button class="button button-line button-small" control="processor-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="processor-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

</div>
