<div class="card card-quantumtoaster">

  <div class="card-header">
    <p class="mb-0"><strong>Quantum Toasters</strong></p>
    <p class="small muted">Prod <span readout="quantumtoaster-stat-toast">0</span> toast every <span readout="quantumtoasterspeed-interval-current">0</span>s</p>
  </div>

  <div class="card-meter">
    <div class="card-meter-progress"></div>
  </div>

  <div class="card-body">
    <p class="mb-2">Count: <span readout="quantumtoaster-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="quantumtoaster-level-increase1">+1</button>
      <button class="button button-line button-small" control="quantumtoaster-level-increase10">+10</button>
      <button class="button button-line button-small" control="quantumtoaster-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="quantumtoaster-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Speed: <span readout="quantumtoasterspeed-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="quantumtoasterspeed-level-increase1">+1</button>
    </div>
    <p class="small muted">+1 cost <strong readout="quantumtoasterspeed-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

</div>
