<div class="card card-rockettoaster">

  <div class="card-header">
    <p class="mb-0"><strong>Rocket Toasters</strong></p>
    <p class="small muted">Prod <span readout="rockettoaster-stat-toast">0</span> toast every <span readout="rockettoaster-stat-speed">0</span>s</p>
  </div>

  <div class="card-meter">
    <div class="card-meter-progress"></div>
  </div>

  <div class="card-body">
    <p class="mb-2">Count: <span readout="rockettoaster-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="rockettoaster-level-increase1">+1</button>
      <button class="button button-line button-small" control="rockettoaster-level-increase10">+10</button>
      <button class="button button-line button-small" control="rockettoaster-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="rockettoaster-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Speed: <span readout="rockettoasterspeed-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="rockettoasterspeed-level-increase1">+1</button>
    </div>
    <p class="small muted">+1 cost <strong readout="rockettoasterspeed-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <p class="mb-2">Efficiency: <span readout="rockettoasterefficiency-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="rockettoasterefficiency-level-increase1">+1</button>
      <button class="button button-line button-small" control="rockettoasterefficiency-level-increase10">+10</button>
      <button class="button button-line button-small" control="rockettoasterefficiency-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="rockettoasterefficiency-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

</div>
