<div class="card card-toaster">

  <div class="card-header">
    <p><strong>System</strong></p>
  </div>

  <div class="card-meter">
    <div class="card-meter-progress"></div>
  </div>

  <div class="card-body">
    <button class="button button-block button-large button-ring button-accent" control="toast">Toast +<span readout="processor-level"></span></button>
  </div>

  <div class="card-body">
    <p class="mb-2">Processor Power: <span readout="processor-level"></span></p>
    <div class="form-group mb-2">
      <button class="button button-line button-small" control="processor-level-increase1">+1</button>
      <button class="button button-line button-small" control="processor-level-increase10">+10</button>
      <button class="button button-line button-small" control="processor-level-increase100">+100</button>
    </div>
    <p class="small muted">+1 cost <strong readout="processor-cost-toast"></strong> <abbr title="Toast matter">Tm</abbr></p>
  </div>

  <div class="card-body">
    <button class="button button-line button-small" control="toaster-motivate">Unmotivated?</button>
  </div>

</div>
