::selection {
  background-color: rgb(var(--theme-accent));
  color: rgb(var(--theme-white));
}

html {
  background-color: var(--theme-color-01);
  font-size: var(--theme-root-font-size);
}

body {
  background-color: var(--theme-color-01);
  color: rgb(var(--theme-style-text));
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--theme-font-ui-name);
  font-weight: var(--theme-font-ui-weight);
  font-style: var(--theme-font-ui-style);
  min-height: 100vh;
  transition: background-color var(--layout-timing-extra-fast);
}
