.card {
  border-radius: var(--theme-radius);
  box-shadow: none;
  transform: scale(1);
  opacity: 1;
  animation-duration: 2s;
  animation-name: swing;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  transform-origin: top center;
  animation-delay: 0s;
  transition: box-shadow var(--layout-timing-extra-fast);
}

.card:focus {
  box-shadow: var(--form-ring-accent);
  outline: none;
}

.card>*:first-child {
  border-top-left-radius: var(--theme-radius);
  border-top-right-radius: var(--theme-radius);
}

.card>*:last-child {
  border-bottom-left-radius: var(--theme-radius);
  border-bottom-right-radius: var(--theme-radius);
}

.card>*:only-child {
  border-radius: var(--theme-radius);
}

.card-header {
  background-color: rgb(var(--theme-color-04));
  padding: 0.75em 1.25em;
  transition: background-color var(--layout-timing-extra-fast), border var(--layout-timing-extra-fast);
}

.card-header:not(:last-child):not(:only-child) {
  border-bottom: var(--horizontal-rule-small);
}

.card-body {
  background-color: rgb(var(--theme-color-03));
  padding: 0.75em 1.25em;
  transition: background-color var(--layout-timing-extra-fast), border var(--layout-timing-extra-fast);
}

.card-body hr {
  margin: calc(var(--form-wrap-space) * 0.5) 0;
}

.card-body:not(:last-child):not(:only-child) {
  border-bottom: var(--horizontal-rule-small);
}

.card-footer {
  background-color: rgb(var(--theme-color-04));
  padding: 0.75em 1.25em;
  transition: background-color var(--layout-timing-extra-fast), border var(--layout-timing-extra-fast);
}

.card-footer:not(:last-child):not(:only-child) {
  border-bottom: var(--horizontal-rule-small);
}

.card-meter {
  background-color: rgb(var(--theme-color-03));
  width: 100%;
  height: var(--layout-line-width);
  position: relative;
  transition: background-color var(--layout-timing-extra-fast);
}

.card-meter-progress {
  background-color: rgb(var(--theme-accent));
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.card.active .card-meter-progress {
  animation-name: progress;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

[stage=cycle].active .card-meter-progress {
  animation-duration: var(--card-cycle-meter-duration);
}

[stage=strategy] .card-body {
  animation-duration: 2s;
  animation-name: swing;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  transform-origin: top center;
  animation-delay: 0s;
}

[stage=autotoaster].active .card-meter-progress {
  animation-duration: var(--card-autotoasterspeed-meter-duration);
}

[stage=megatoaster].active .card-meter-progress {
  animation-duration: var(--card-megatoasterspeed-meter-duration);
}

[stage=rockettoaster].active .card-meter-progress {
  animation-duration: var(--card-rockettoasterspeed-meter-duration);
}

[stage=sonictoaster].active .card-meter-progress {
  animation-duration: var(--card-sonictoasterspeed-meter-duration);
}

[stage=plasmatoaster].active .card-meter-progress {
  animation-duration: var(--card-plasmatoasterspeed-meter-duration);
}

[stage=atomictoaster].active .card-meter-progress {
  animation-duration: var(--card-atomictoasterspeed-meter-duration);
}

[stage=quantumtoaster].active .card-meter-progress {
  animation-duration: var(--card-quantumtoasterspeed-meter-duration);
}
