.card {}

.card:not(:last-child) {
  margin-bottom: 2em;
}

.card-header {
  border-top-left-radius: var(--theme-radius);
  border-top-right-radius: var(--theme-radius);
}

.card-body {
  background-color: rgb(var(--theme-color-01));
  border: var(--horizontal-rule-large);
}

.card-body:not(:last-child) {
  border-top: 0;
  border-bottom: 0;
}

.card-body:last-child,
.card-footer {
  border-bottom-left-radius: var(--theme-radius);
  border-bottom-right-radius: var(--theme-radius);
}

.card-footer,
.card-header {
  background-color: rgb(var(--theme-color-02));
}

.card-header,
.card-body,
.card-footer {
  padding: 0.75em 1.5em;
  transition: background-color var(--layout-timing-extra-fast)
}
