.card {}

.card-header {
  border-top-left-radius: var(--theme-radius);
  border-top-right-radius: var(--theme-radius);
}

.card-body {
  background-color: rgb(var(--theme-color-03));
}

.card-body:not(:last-child) {
  border-bottom: var(--horizontal-rule-large);
}

.card-body:last-child,
.card-footer {
  border-bottom-left-radius: var(--theme-radius);
  border-bottom-right-radius: var(--theme-radius);
}

.card-footer,
.card-header {
  background-color: rgb(var(--theme-color-04));
}

.card-header,
.card-body,
.card-footer {
  padding: 0.75em 1.5em;
  transition: background-color var(--layout-timing-extra-fast)
}

.card-meter {
  background-color: rgb(var(--theme-color-03));
  width: 100%;
  height: var(--layout-line-width);
  position: relative;
}

.card-meter-progress {
  background-color: rgb(var(--theme-accent));
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.card.active .card-meter-progress {
  animation-name: progress;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.card-autotoaster.active .card-meter-progress {
  animation-duration: var(--card-autotoaster-meter-duration);
}

.card-megatoaster.active .card-meter-progress {
  animation-duration: var(--card-megatoaster-meter-duration);
}

.card-rockettoaster.active .card-meter-progress {
  animation-duration: var(--card-rockettoaster-meter-duration);
}
