.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100vh;
  grid-template-areas:
    "report main";
}

.layout-report {
  background-color: rgb(var(--theme-black));
  grid-area: report;
  height: 100%;
}

.layout-main {
  background-color: rgb(var(--theme-color-01));
  grid-area: main;
  height: 100%;
}
