.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "message header"
    "message toaster";
}

.layout-header {
  grid-area: header;
}

.layout-message {
  grid-area: message;
}

.layout-toaster {
  grid-area: toaster;
}
