.report {
  padding: 1em 0.5em;
  height: 100%;
  overflow-y: auto;
}

.report-message {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--theme-font-mono-name);
  font-weight: var(--theme-font-mono-weight);
  font-style: var(--theme-font-mono-style);
  font-size: 0.8em;
}

.report-message-type {
  width: 5em;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 900;
}

.report-message-text {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.report-message-text-item {
  display: inline-block;
}

.report-message-normal {
  white-space: normal;
}

.report-message-pre {
  white-space: pre;
}

.report-message .report-message-text-string {
  margin-right: 0.5em;
}

.report-message .report-message-text-blink {
  display: none;
  font-weight: 900;
}

.report-message:last-child .report-message-text:last-child .report-message-text-blink {
  display: inline-block;
  opacity: 1;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

.report-message-color-normal {
  color: #dcdcdc;
}

.report-message-color-success {
  color: #33cc66;
}

.report-message-color-error {
  color: #ff1177;
}

.report-message-color-system {
  color: #ffbb00;
}

.report-message-color-motivation {
  color: #00bbdd;
}
