.report {
  padding: 2em;
  height: 100%;
  overflow-y: auto;
}

.report-message {
  margin-bottom: 0.25em;
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--theme-font-mono-name);
  font-weight: var(--theme-font-mono-weight);
  font-style: var(--theme-font-mono-style);
  font-size: 0.9em;
}

.report-message-type {
  width: 6em;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 900;
}

.report-message-text {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.report-message-text-item {
  display: inline-block;
}

.report-message-normal {
  white-space: normal;
}

.report-message-pre {
  white-space: pre;
}

.report-message .report-message-text-string {}

.report-message .report-message-text-cursor {
  margin-left: 0.5em;
  display: none;
  font-weight: 900;
}

.report-message:last-child .report-message-text:last-child .report-message-text-cursor {
  display: inline-block;
  opacity: 1;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

.report-message-color-normal {
  color: hsl(var(--report-color-normal));
}

.report-message-color-system {
  color: hsl(var(--report-color-system));
}

.report-message-color-success {
  color: hsl(var(--report-color-success));
}

.report-message-color-error {
  color: hsl(var(--report-color-error));
}

.report-message-color-motivation {
  color: hsl(var(--report-color-motivation));
}
